Repository CodeSystem2022/UnitedCode-4toSemestre, pull requests merged in 2023-08, with the labels that each got.

#24 Clase 01 JavaScript - 1.1 y 1.2
  JavaScript/Semana1/e-commerce2022/client/js/index.js
  JavaScript/Semana1/e-commerce2022/client/js/products.js
  JavaScript/Semana1/e-commerce2022/client/media/bananas.png
  JavaScript/Semana1/e-commerce2022/client/media/enlatados.png
  JavaScript/Semana1/e-commerce2022/client/media/index.html
  JavaScript/Semana1/e-commerce2022/client/media/leche.png
  JavaScript/Semana1/e-commerce2022/client/media/mayonesa.png
  JavaScript/Semana1/e-commerce2022/client/media/pollo.png
  JavaScript/Semana1/e-commerce2022/client/media/styles.css
  JavaScript/Semana1/e-commerce2022/client/media/varios.jpg
Labels: JavaScript

#25 Avanzamos con css y js (video3)
  JavaScript/Semana1/e-commerce2022/client/js/index.js
  JavaScript/Semana1/e-commerce2022/client/js/products.js
Labels: JavaScript

#26 1.1 Método eliminar estudiante y prueba
  Java/semana01/EstudianteDAO.java
Labels: Java

#34 Creacion de usuario
  Python/Semana1/usuario.py
Labels: Python
