Repository CodeSystem2022/UnitedCode-4toSemestre, pull requests merged in 2023-10, with the labels that each got.

#150 Creación de carpeta database y del servidor express(video 6 y 7)
  JavaScript/Leccion02/proyecto-PERN-stack/.gitignore
  JavaScript/Leccion02/proyecto-PERN-stack/database/init.sql
  JavaScript/Leccion02/proyecto-PERN-stack/src/app.js
  JavaScript/Leccion02/proyecto-PERN-stack/src/index.js
Labels: JavaScript

#152 Clase 06 Python - 6.3 #128
  Python/Semana07/dar_formato_str.py
Labels: Python

#182 CLASE 07 JAVASCRIPT videos 3 y 4
  JavaScript/Leccion02/proyecto-PERN-stack/package.json
  JavaScript/Leccion02/proyecto-PERN-stack/src/controllers/auth.controller.js
Labels: JavaScript

#184 Clase 08 Node - Tareas
  Node/semana08/callback.js
Labels: Node

#214 Clase 10 Java - #202 #203 (video 5 y 6)
  Java/ProyectoJava+SpringBoot/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
Labels: Java
